{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Review Payment {{ payinfo['paymentId'] }}'s Month Assignments{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p>Payer: {{ payinfo['choristerId'] }} {{ payinfo['firstName'] }} {{ payinfo['lastName'] }}</p>
  <p>Payment ID: {{ payinfo['paymentId'] }} | {{ payinfo['amount'] }}, {{ payinfo['methodDescription'] }}</p>
  <ul>
    {% for month in paymonths %}
      <p> paid {{ month['month'] }}/{{ month['year'] }} 
        <form method="post">
          <input type="hidden" id="paymentid" name="paymentId" value="{{ payinfo['paymentId'] }}">
          <input type="hidden" id="monthId" name="monthId" value="{{ month['monthId'] }}">
          <input type="submit" formaction="{{ url_for('treasurer.removemonths') }}" value="Remove Month Assignment">
        </form>
      </p>
    {% endfor %}
  </ul>
  <p>Add another month</p>
  <form method="post">
    <label for="month">Month</label>
    <input type="number" name="month" id="month" required>
    <label for="year">Year</label>
    <input type="number" name="year" id="year" required>
    <input type="submit" value="Add Month">
  </form>
{% endblock %}