{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Choir Members{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p>Chorister ID | First Name | Last Name | Address 1 | Address 2 | City | State | Zipcode | Email | Phone | Section | Status |</p>
  {% for singer in chorister %}
    <p><a href="{{ url_for('choristers.update_member', choristerId = singer['choristerId']) }}">{{ singer['choristerId'] }}</a> | {{ singer['firstName'] }} | {{ singer['lastName'] }} | {{ singer['street1'] }} |
       {{ singer['street2'] }} | {{ singer['city'] }} | {{ singer['state'] }} | {{ singer['zip'] }} | {{ singer['email'] }} | 
       {{ singer['phone'] }} | {{ singer['sectionName'] }} | {{ singer['statusName'] }} |
        <button><a href="{{ url_for('rehearsals.reviewchoristerattendance', choristerId = singer['choristerId']) }}">View Meeting Attendance</a></button> |</p>
  {% endfor %}
{% endblock %}