{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Set Permissions for user "{{ user['username'] }}"{% endblock %}</h1>
  <p><a href="{{ url_for('dbadmin.useradmin') }}">Back</a></p>
{% endblock %}

{% block content %}
  <div style="margin-top: .5rem; display: grid; grid-template-columns: 1fr 1fr; column-gap: 1rem; row-gap: .5rem; width: fit-content;">
    {% for permission in permissions %}
      <div>{{ permission[1] }} </div>
      <div>
        {% if permission[2] == 1 %} 
          <button><a href="{{ url_for('dbadmin.remove_permission', permissionId = permission[0], userId = user['accountId']) }}">Remove</a></button>
        {% else %}
          <button><a href="{{ url_for('dbadmin.add_permission', permissionId = permission[0], userId = user['accountId']) }}">Add</a></button>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
