{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Rehearsals{% endblock %}</h1>
{% endblock %}

{% block content %}
<p><a href="{{ url_for('rehearsals.add_meeting') }}">Add a rehearsal</a></p>
<table>
  <thead><tr><th>Rehearsal ID</th><th>Date</th><th>Take Attendance</th></tr></thead>
  <tbody>
  {% for meeting in rehearsal %}
    <tr><td>{{ meeting['rehearsalId'] }}</td><td><a href="{{ url_for('rehearsals.reviewattendance', rehearsalId=meeting['rehearsalId']) }}">{{ meeting['rehearsalDate'] }} </a></td><td><button><a href="{{ url_for('rehearsals.startattendance', rehearsalId = meeting['rehearsalId']) }}">Take Attendance</a></button></td></tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}