{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Review Attendance: {{ rehearsalDate['rehearsalDate'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<table>
  <thead><tr><th>Chorister ID</th><th>Chorister Name</th><th>Attendance Status</th><th>Update</th></tr></thead>
  {% for attendee in attendees %}
      <tr><td>{{ attendee['choristerId'] }}</td><td> {{ attendee['firstName'] }} {{ attendee['lastName'] }}</td> 
      <td><form method="post">
        <input type="hidden" id="ctrl" name="ctrl" value="{{ attendee['choristerId'] }}">
        <select name="statusId" id="statusId">
          {% for status in statuses %}   
            <option {% if attendee['attendanceStatus']==status['attendanceStatus'] %} selected {% endif %} value="{{status['attendanceId']}}">{{ status['attendanceStatus'] }}</option>
          {% endfor %}
        </select></td>
        <td><input type="submit" formaction="{{ url_for('rehearsals.updateattendance', rehearsalId=rehearsalId) }}" value="Update Attendance"></td>
      </form>
    </tr>
  {% endfor %}
</table>
  <div style="display: flex;">
    <form method="post">
      <label for="choristerId">Add a Chorister by ID</label>
      <input id="choristerId" name="choristerId">
      <select name="statusId" id="statusId">
        {% for status in statuses %}
          <option value="[{{ status['attendanceId'] }}]">{{ status['attendanceStatus'] }}</option>
        {% endfor %}
      </select>
      <input type="submit" formaction="{{ url_for('rehearsals.addattendance', rehearsalId=rehearsalId) }}" value="Add">
    </form>
  </div>
{% endblock %}