{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Take Attendance for {{ rehearsalDate['rehearsalDate'] }}{% endblock %}</h1>
  <p><a href="{{ url_for('rehearsals.meetings') }}">Back</a></p>
{% endblock %}

{% block content %}
  <form method="post" style="display: inline;">
    <label for="section">Section</label>
    <select name="section" id="section" required style="width: fit-content;">
        <option value="Soprano">Soprano</option>
        <option value="Alto">Alto</option>
        <option value="Tenor">Tenor</option>
        <option value="Bass">Bass</option>
    </select>
    <input type="submit" name="" value="Choose Section">
  </form>

  {% if members %}
    <form method="post">
      <div style="display: grid; grid-template-columns: 1fr 1fr; width: fit-content;">
        {% for member in members %}
          <div>{{ member['firstName'] }} {{ member['lastName'] }} </div>
          <div>
            <select name="{{ member['choristerId'] }}">
              {% for status in attendanceStatuses %}
                <option value="[{{ status['attendanceId'] }}]">{{ status['attendanceStatus'] }}</option>
              {% endfor %}
            </select>
          </div>
        {% endfor %}
      </ul>
      <input type="submit" formaction="{{ url_for('rehearsals.takeattendance', rehearsalId=rehearsalId) }}" value="Submit Attendance">
    </form>
  {% endif %}

{% endblock %}