{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Welcome!{% endblock %}</h1>
{% endblock %}

{% block content %}
    <p>This should be a link to a "Reset Password" page.  It appears for all users.</p>
    <a href="{{ url_for('general.reset_password') }}">Reset Password</a>
    {% if 1 in permissions %}
        <p>This will be a link to DB Admin pages.  This only appears if the user has DB admin privileges</p>
    {% endif %}
    {% if 2 in permissions %}
        <p>This will be a link to Chorister Admin pages.  This only appears if the user has Chorister admin privileges</p>
    {% endif %}
    {% if 3 in permissions %}
        <p>This will be a link to Attendance pages.  This only appears if the user has Attendance privileges</p>
    {% endif %}
    {% if 4 in permissions %}
        <p>This will be a link to Treasurer pages.  This only appears if the user has Treasurer privileges</p>
    {% endif %}
{% endblock %}